In [13]:
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [14]:
database_path = 'marine_mammal.sqlite'
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [17]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [19]:
Base.classes.keys()

[]

In [9]:
# marine_mammal = pd.read_sql("SELECT * FROM marine_mammal", conn)

OperationalError: (sqlite3.OperationalError) no such table: marine_mammal
[SQL: SELECT * FROM marine_mammal]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
marine_mammal.head()