In [4]:
# Import SQLAlchemy and other dependencies here
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
Base2 = declarative_base()

import pandas as pd
import numpy as np

In [5]:
# MatPlotLib/NumPy/SciPy
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

In [6]:
engine = create_engine('postgresql://postgres:Teamjack1640@localhost:5432/Project_2_DB')
connection = engine.connect()

In [7]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [8]:
# Collect the names of tables within the database
inspector.get_table_names()

['marine_mammal']

In [11]:

# Using the inspector to print the column names within the 'employees' table and its types
columns = inspector.get_columns('marine_mammal')
for column in columns:
    print(column["name"], column["type"])

id VARCHAR(100)
species VARCHAR(65)
quantity INTEGER
description VARCHAR(500)
url VARCHAR(200)
latitude NUMERIC
longitude NUMERIC
location VARCHAR
sighted_at DATE
created_at DATE
updated_at DATE
orca_type VARCHAR
orca_pod VARCHAR

In [10]:
#create employees class
class marine_mammal(Base2):
    __tablename__ = 'marine_mammal'
    
    id = colume (string, primary_key = true)
    species = colume (string)
    quantity = colume (integer)
    description = colume (string)
    url VARCHAR= colume (string)
    latitude = colume (NUMERIC)
    longitude = colume (NUMERIC)
    location = colume (string)
    sighted_at = colume ( DATE)
    created_at = colume (DATE)
    updated_at = colume (DATE)
    orca_type = colume (string)
    orca_pod = colume (string)

In [ ]:
session = Session(engine)

In [ ]:
marine_mammal_data = pd.read